@font-face {
    font-family: 'Trendy University';
    src: url('TrendyUniversity.eot');
    src: local('Trendy University'), local('TrendyUniversity'),
        url('TrendyUniversity.eot?#iefix') format('embedded-opentype'),
        url('TrendyUniversity.woff2') format('woff2'),
        url('TrendyUniversity.woff') format('woff'),
        url('TrendyUniversity.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

